.whole-background {
  background-color: #fafad2;
}

.pokemon-master-title {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 70%;
  margin: auto;
}

.interaction-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  font-family: "Press Start 2P", cursive;
  color: #000;
  height: 50px;
  width: 100%;
}

.interaction-area input {
  font-family: "Press Start 2P", cursive;
  display: flex;
  flex-grow: 1;
  width: max-content;
  font-size: 18px;
  padding: 5px;
  padding-left: 20px;
  border: 2px solid #000;
  border-radius: 5px;
}

.interaction-area input::placeholder {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  color: gray;
  text-transform: uppercase;
  opacity: 1;
}

.interaction-area button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  padding: 10px;
}

.interaction-area button img {
  max-width: 30px;
  height: auto;
}

.interaction-area p {
  font-size: 10px;
  animation: flash 2s infinite;
  text-align: center;
}

.interaction-area button:hover {
  background-color: #e0e0e0;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px);
  }
  75% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flash {
  0% {
    color: #000;
  }
  50% {
    color: #ff0000;
  }
  100% {
    color: #000;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px 5px #ffd700, 0 0 30px 10px #ffea00 inset;
  }
  100% {
    box-shadow: 0 0 30px 10px #ffec33, 0 0 50px 20px #fff700 inset;
  }
}

.searchPokemon-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d3d3b1;
  background-image: linear-gradient(45deg, #000 1px, transparent 1px),
    linear-gradient(-45deg, #000 1px, transparent 1px);
  background-size: 20px 20px; /* 控制斜方格的大小 */
  background-position: 0 0;
  padding-bottom: 20px;
  border: 4px solid #000;
  border-radius: 10px;
}

.searchPokemon-area-shiny {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff152;
  background-image: linear-gradient(45deg, #000 1px, transparent 1px),
    linear-gradient(-45deg, #000 1px, transparent 1px);
  background-size: 20px 20px; /* 控制斜方格的大小 */
  background-position: 0 0;
  padding-bottom: 20px;
  border-radius: 10px;
  animation: shake 3s infinite, glow 2s infinite alternate;
}

.searchPokemon-title {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  color: #000;
  text-align: center;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 0 #000;
  padding: 20px;
  border: 4px solid #000;
  border-radius: 10px;
  width: calc(100% - 40px);
  margin: 20px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchPokemon-info {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.searchPokemon-info img {
  width: 48%;
  height: 300px;
  object-fit: contain;
  background-color: #f0f0f0;
  border: 4px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0 #000;
}

.searchPokemon-info-text {
  display: flex;
  font-family: "Press Start 2P", cursive;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding-left: 30px;
  box-sizing: border-box;
  gap: 15px;
  line-height: 1.6;
  font-size: 14px;
}

.searchPokemon-info-text strong {
  font-size: 20px;
  display: block;
  color: #000;
}

.searchPokemon-info-text .keywords {
  font-size: 14px;
  color: #444;
  padding-left: 10px;
}

.pokemon-card-shiny {
  display: flex;
  flex-direction: column;
  border: 4px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 300px;
  background-color: #fff152;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.8) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.8) 75%,
    transparent 75%,
    transparent
  );
  background-size: 200px 200px;
  box-shadow: 5px 5px 0 #000;
  font-family: "Press Start 2P", cursive;
  animation: shine 1s linear infinite, shake 3s infinite;
}

.pokemon-name {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}
.pokemon-image {
  display: flex;
  align-self: center;
  width: 200px;
  height: 200px;
  image-rendering: pixelated;
}
.pokemon-info {
  padding: 5px;
  font-size: 16px;
  color: #000;
}

.pokemon-card-bag {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 0 #000;
  font-family: "Press Start 2P", cursive;
  /* animation: shake 3s infinite; */
}

.pokemon-card-bag-shiny {
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
  background-color: #fff152;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.8) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.8) 75%,
    transparent 75%,
    transparent
  );
  background-size: 50px 50px;
  box-shadow: 2px 2px 0 #000;
  font-family: "Press Start 2P", cursive;
  animation: shine 1s linear infinite, shake 3s infinite;
}

@keyframes shine {
  0% {
    background-position: top left;
  }
  50% {
    background-position: bottom right;
  }
  100% {
    background-position: top left;
  }
}

.pokemon-name-bag {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}
.pokemon-image-bag {
  display: flex;
  align-self: center;
  width: 100px;
  height: 100px;
  image-rendering: pixelated;
}
.pokemon-info-bag {
  padding: 2px;
  font-size: 8px;
  color: #000;
}

.cards-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 20px;
  gap: 20px;
}

.list_pokemon-area-title {
  display: flex;
  gap: 10px;
  animation: flash 2s infinite;
}

.list_pokemon-area-title h2 {
  cursor: pointer;
  transition: 0.05s;
}

.list_pokemon-area-title h2:hover {
  color: #ffd700;
}

@keyframes flash {
  0% {
    color: #000;
  }
  50% {
    color: #ff0000;
  }
  100% {
    color: #000;
  }
}

.pokeball-icon {
  width: 20px;
  /* height: 40px; */
}

/* .interaction-area-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
} */

/* .interaction-area-title button {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.pokeball-icon-loading img {
  width: 30px;
}
